header{
    height: 800px;
    width: 100%;
    background-image: url(../img/GIMNASIO\ FONDO.jpg);
    background-size: cover;
    background-position: center;
    h1{
        font-family: "Black Ops One", system-ui;
        font-weight: 400;
        font-style: normal;
        color: white;
        padding-top: 140px;
        font-size: 90px;
        }
        .eslogan{
            font-family: "Black Ops One", system-ui;
            font-weight: 400;
            font-style: normal;
            color: white;
            padding-left: 15px;
            
    }
}